@import '../../utilities/mixins.scss';
@import '../../utilities/variables.scss';
@import '../../utilities/extends.scss';

.contact {
    &-landing-page {
        @include background($url: '../images/background-tokyo.jpg');
    }
    &-container {
        margin: auto 50px;
        p {
            color: $black; 
            text-align: center;
        }
    }
}
