@import '../../../utilities/mixins'; 
@import '../../../utilities/variables';
@import '../../../utilities/extends';

.all-projects {
    &-container {
        @extend %center;
    }
    &-item {
        position: relative;
        overflow: hidden;
        &:hover {
            .overlay {
                background: $light-black;
                height: 100%;
                top: 0;
                left: 0;            }
        }
        &-img {
            border-radius: $br--default;
            width: 300px;
            @include mq('medium') {
                width: 450px;
            }
        }
        &-overlay {
            @include apos($right: 0);
            @include dim(100%);
            transition: all .8s;
            @extend %center;
            border-radius: $br--default;
            &-icon {
                background: $strong-blue;
                color: $white-smoke;
                border-radius: $br--default;
                font-size: 30px;
                margin: 20px;
                padding: 10px;
            }
        }
        &-detail {
            padding-top: 30px;
            font-weight: $font-weight--bold;
            text-align: center;
             span {
                 color: $red;
                }
            }
    }
}